[submodule "build-tools"]
	path = build-tools
	url = git@gitlab.larc.nasa.gov:fun3d-developers/fortran-build-infrastructure.git
[submodule "pancake"]
	path = pancake
	url = git@gitlab.larc.nasa.gov:fun3d-developers/pancake.git
